In [1]:
import numpy as np

In [2]:
x = np.array([40,57,67,90,"A"])
print(x)
print(type(x))
print(x.dtype)

['40' '57' '67' '90' 'A']
<class 'numpy.ndarray'>
<U11

In [3]:
#create a 2D array
a2 = np.array([[20,40],[30,60]])
print(a2)
print(type(a2))
print(a2.shape)

[[20 40]
 [30 60]]
<class 'numpy.ndarray'>
(2, 2)

In [4]:
a = np.array([10,20,30,40])
b = a.reshape(2,2)
print(b)
print(b.shape)

[[10 20]
 [30 40]]
(2, 2)

In [5]:
#create an array with arange
c = np.arange(3,28)
print(c)
type(c)

[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
 27]

numpy.ndarray

In [6]:
# use of around
d = np.array([1.347,3.30987,4.91236])
print(np.around(np.sqrt(d),2))

[1.16 1.82 2.22]

In [10]:
# use astype() to convert
a1 = np.array([[3,4,5,6],[7,2,8,np.NAN]])
print(a1)

[[ 3.  4.  5.  6.]
 [ 7.  2.  8. nan]]

In [11]:
#matthematical operation on rows
a2 = np.array([[3,4,6],[7,9,10],[4,6,12]])
a2

array([[ 3,  4,  6],
       [ 7,  9, 10],
       [ 4,  6, 12]])

In [12]:
a1_copy1 = a1.astype(str)
print(a1_copy1)

[['3.0' '4.0' '5.0' '6.0']
 ['7.0' '2.0' '8.0' 'nan']]

In [13]:
print(a2.sum(axis = 1))
print(a2.sum(axis = 0))

[13 26 22]
[14 19 28]

In [16]:
#find the mean values along row and col
print(a2)
print(np.mean(a2,axis = 1))
print(np.mean(a2,axis = 0))

[[ 3  4  6]
 [ 7  9 10]
 [ 4  6 12]]
[4.33333333 8.66666667 7.33333333]
[4.66666667 6.33333333 9.33333333]

In [17]:
#matrix operations
a3 = np.array([[3,4,5],[7,2,8],[9,1,6]])
print(a3)
np.fill_diagonal(a3,0)
print(a3)

[[3 4 5]
 [7 2 8]
 [9 1 6]]
[[0 4 5]
 [7 0 8]
 [9 1 0]]

In [21]:
#define two martices and multiply them
A = np.array([[1,2],[3,4]])
B = np.array([[4,5],[7,6]])
C = np.matnull( A * B )
print(C)

AttributeError: module 'numpy' has no attribute 'matnull'

In [20]:
print(A,T)
print(B,T)

NameError: name 'T' is not defined

In [ ]:
#accessing the array elements
a4 = np.array([[3,4,5],[7,2,8],[9,1,6],[10,9,18]])
a4

In [ ]:
#slicing of array
a4[1:3,2:2]